<div class="col-lg-4 offset-lg-4 profile-font login-form">
  <form>
    <div class="form-group">
      <label>Invite Code</label>
      <input type="text" class="form-control" placeholder="Enter code">
<!--      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password">
    </div>
<!--    <div class="form-group form-check">-->
<!--      <input type="checkbox" class="form-check-input">-->
<!--      <label class="form-check-label">Check me out</label>-->
<!--    </div>-->
    <button type="submit" class="btn btn-primary">Log In</button>
  </form>
</div>