
<div class="profile">
  <div class="row">
    <div class="col-xs-4">
      <%= image_tag 'dith.png', class: 'profile-image' %>
    </div>
    <div class="col-xs-8 user-info profile-font">
      <h1><%= @username %></h1>
      <h1>Level: <%= @level %></h1>
      <h1><%= link_to "Guild: #{@guild}", guilds_path %></h1>
      <div align="center" id="stats">
        <h3>STATS FOR THE WEEK OF <%= @week %></h3>
        <h3>Trophies earned: <%= @trophies %></h3>
        <h3>Seals earned: <%= @seals %></h3>
        <h3>Gold donated: <%= @gold %></h3>
      </div>
    </div>
  </div>
</div>

<p id="notice"><%= notice %></p>

<!--<%#= link_to 'Edit', edit_profile_path(@profile) %> |-->
<%#= link_to 'Back', profiles_path %>
<div class="profile-font">
  <%#= @username %>
  <%#= @response %>
</div>