// Place all the styles related to the profile controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {

  //background-color: #151515;
}

.profile-image {
  background-image: linear-gradient(green, black);
  //max-width: 9vw;
  margin: 90px 30px;
  padding: 30px;
  max-height: 400px;
}

.user-info {
  margin-top: 100px;
  padding: 27px;
  //border: 2px solid #000;
  //border-radius: 13px;
  //height: 170px;
}

.profile-font {
  font-family: 'Anton', sans-serif;
  color: #CECECE;
  a {
    color: #aaaaaa;
  }
}

#stats {
  margin-top: 30px;
}

/*            *
 * Login Page *
 *            */

.login-form {
  padding-top: 200px;
}