/*
 * Application Wide css
 */

html {
  height: 100%;
}

body  {
  background-image: url("bg2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;

}

.background {
  background-color: rgba(180, 180, 180, .4);
  min-height: 100%;
  position: relative;
  // padding-bottom: 250px;
  padding-top: 75px;
  padding-bottom: 100px;
}

/*          *
 *  Footer  *
 *          */

.foot {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.btn {
  margin: 3px;
}