<div class="col-lg-4 offset-lg-4 profile-font login-form">
  <form>
    <div class="form-group">
      <label>Invite Code</label>
      <input type="text" class="form-control" placeholder="Enter code">
    </div>
    <div class="form-group">
      <label>Password</label>
      <input type="password" class="form-control" placeholder="Password">
    </div>
    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" class="form-control" placeholder="Confirm Password">
    </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
</div>