<nav class="navbar navbar-expand-lg fixed-bottom navbar-dark bg-dark">
  <div class="container profile-font">
    <h6>This is a fan site. All Gems of War contents is owned by Infinity Plus Two.</h6>
  </div>
</nav>