
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container">
    <%= link_to image_tag('gms.png', height: '40px'), root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <% if user_signed_in? %>
          <p class="nav-link">Logged in as:  <strong><%= current_user.email %></strong>.</p>
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %> <span class="nav-link">|</span>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'nav-link'  %> <span class="nav-link">|</span>
          <%= link_to "Login", new_user_session_path, :class => 'nav-link'  %>
        <% end %>

<!--        <li class="nav-item active">-->
          <%#= link_to  'Log In', login_path, class: 'nav-link' %>
<!--        </li>-->
<!--        <li class="nav-item ">-->
          <%#= link_to  'Sign Up', signup_path, class: 'nav-link' %>
<!--        </li>-->
  <!--      <li class="nav-item dropdown">-->
  <!--        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"-->
  <!--           aria-haspopup="true" aria-expanded="false">-->
  <!--          Dropdown-->
  <!--        </a>-->
  <!--        <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
  <!--          <a class="dropdown-item" href="#">Action</a>-->
  <!--          <a class="dropdown-item" href="#">Another action</a>-->
  <!--          <div class="dropdown-divider"></div>-->
  <!--          <a class="dropdown-item" href="#">Something else here</a>-->
  <!--        </div>-->
  <!--      </li>-->
  <!--      <li class="nav-item">-->
  <!--        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>-->
  <!--      </li>-->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
